{% extends 'base.html.twig' %}

{% block body %}
    <div class="auth-section">
        <section class="login">
            <h1>Регистрация</h1>
            {{ form(form) }}
        </section>
    </div>
{% endblock %}
