{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('build/css/login.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        {{ form_start(form) }}
        {{ form_end(form) }}
    </div>    
{% endblock %}
