Dear {{first_name}} {{last_name}}<br/>
<br/>
You have registered on https://stud.ddns.net resource.<br/>
<br/>
Please click <a href="https://stud.ddns.net/confirm/{{code}}">here</a> to confirm your account.<br/>
<br/>
===============<br/>
Sincerely yours<br/>
TEAM
