Dear {{first_name}} {{last_name}}<br/>
<br/>
You have requested to change password on https://stud.ddns.net resource.<br/>
<br/>
Please click <a href="https://stud.ddns.net/forgot/{{code}}">here</a> to create new password.<br/>
<br/>
===============<br/>
Sincerely yours<br/>
TEAM
